.nav {
    border-bottom: 0;
    margin: 0;
    @include media("tablet") {
        border: 0;
    }
    ul {
        @include media("tablet") {
            background: none;
            margin-top: 0;
        }
    }
    li {
        @include media("tablet") {
            display: inline-block;
        }
        a {
            display: block;
            color: $black;
            text-decoration: none;
            padding: 0.75em;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease-in-out;
            &:hover,
            &:focus {
                border-bottom-color: $black;
            }
        }
        ul.sub-menu,
        ul.children {
            @include media("tablet") {
                margin-top: 0;
                border: 1px solid #ccc;
                border-top: 0;
                position: absolute;
                visibility: hidden;
                z-index: 8999;
            }
            li {
                a {
                    padding-left: 30px;
                    @include media("tablet") {
                        padding-left: 10px;
                        border-right: 0;
                        display: block;
                        width: 180px;
                        border-bottom: 1px solid #ccc;
                    }
                }
                &:last-child {
                    a {
                        @include media("tablet") {
                            border-bottom: 0;
                        }
                    }
                }
                &:hover > ul {
                    @include media("tablet") {
                        top: auto;
                        visibility: visible;
                    }
                }
                ul {
                    @include media("tablet") {
                        top: 0;
                        left: 100%;
                    }
                }
            }
        }
    }
    /* end .menu li */
    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current_page_ancestor {
        a {
        }
    }
    /* end current highlighters */
}
