#ajax-blogs-block {
    .ajax-blogs {
        &__posts {
            display: grid;
            gap: 20px;
            margin: 24px 0;
            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                margin: 48px 0;
            }
            @media (min-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
                gap: 10px 25px;
            }
            // Single Item
            .post {
                background-color: $white;
                box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
        }
        &__load-more {
            &.loading {
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }
}
